<section id="education" class="home-section wg-education">
    <div class="container mb-4">
        <div class="row">
            <div class="col-12 col-lg-9">
                <!-- cornell -->
                <div class="row education">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border exp-fill">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-content-start">
                                    <div class="mr-2 mb-2">
                                        <a href="https://www.cornell.edu/" target="_blank" rel="noopener">
                                            <img src="assets/img/cornell.png" alt="BOOKING" width="65px" height="65px">
                                        </a>
                                    </div>
                                    <div>
                                        <div class="section-subheading exp-title text-muted mt-0">
                                            M.Eng. in Computer Science
                                        </div>
                                        <div class="section-subheading exp-college text-muted">
                                            <a href="https://www.cornell.edu/" target="_blank" rel="noopener">
                                                cornell university
                                            </a>
                                        </div>
                                        <div class="text-muted exp-meta">
                                            2022 - 2023
                                            <span class="middot-divider"></span>
                                            Ithaca, NY
                                        </div>
                                    </div>
                                </div>


                                <div class="card-text">
                                    Concentrated on Systems track
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- umn -->
                <div class="row education">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-content-start">
                                    <div class="mr-2 mb-2">
                                        <a href="https://twin-cities.umn.edu/" target="_blank" rel="noopener">
                                            <img src="assets/img/umn.png" alt="GRAB" width="65px" height="65px">
                                        </a>
                                    </div>
                                    <div>
                                        <div class="section-subheading exp-title text-muted mt-0">
                                            B.S. in Computer Science
                                        </div>
                                        <div class="section-subheading exp-college text-muted">
                                            <a href="https://twin-cities.umn.edu/" target="_blank" rel="noopener">
                                                university of minnesota, twin cities
                                            </a>
                                        </div>
                                        <div class="text-muted exp-meta">
                                            2019 - 2021
                                            <span class="middot-divider"></span>
                                            Minneapolis, MN
                                        </div>
                                    </div>
                                </div>
                                <div class="card-text">
                                    Graduated with High Distinction
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>