<section id="experience" class="home-section wg-experience">
    <div class="container mb-4">
        <div class="row">
            <div class="col-12 col-lg-9">
                <!-- tiktok -->
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border exp-fill">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-content-start">
                                    <div class="mr-2 mb-2">
                                        <a href="https://www.tiktok.com/" target="_blank" rel="noopener">
                                            <img src="assets/img/tiktok.jpg" alt="TIKTOK" width="65px" height="65px">
                                        </a>
                                    </div>
                                    <div>
                                        <div class="section-subheading exp-title text-muted mt-0">
                                            Software Engineer
                                        </div>
                                        <div class="section-subheading exp-company text-muted">
                                            <a href="https://www.tiktok.com/" target="_blank" rel="noopener">
                                                tiktok
                                            </a>
                                        </div>
                                        <div class="text-muted exp-meta">
                                            Jun, 2023 - Present
                                            <span class="middot-divider"></span>
                                            Bellevue, WA
                                        </div>
                                    </div>
                                </div>


                                <div class="card-text">
                                    Backend Enigneer at GEC Central Platform team
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- booking -->
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-content-start">
                                    <div class="mr-2 mb-2">
                                        <a href="https://www.booking.com/content/about.html" target="_blank" rel="noopener">
                                            <img src="assets/img/booking.jpg" alt="BOOKING" width="65px" height="65px">
                                        </a>
                                    </div>
                                    <div>
                                        <div class="section-subheading exp-title text-muted mt-0">
                                            Software Engineer
                                        </div>
                                        <div class="section-subheading exp-company text-muted">
                                            <a href="https://www.booking.com/content/about.html" target="_blank" rel="noopener">
                                                booking.com
                                            </a>
                                        </div>
                                        <div class="text-muted exp-meta">
                                            Apr, 2022 - Aug, 2022
                                            <span class="middot-divider"></span>
                                            Shanghai, CN
                                        </div>
                                    </div>
                                </div>
                                <div class="card-text">
                                    Backend Enigneer at Partner Offer Infra team
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- wish -->
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-content-start">
                                    <div class="mr-2 mb-2">
                                        <a href="https://www.wish.com/companyinfo" target="_blank" rel="noopener">
                                            <img src="assets/img/wish.png" alt="WISH" width="65px" height="65px">
                                        </a>
                                    </div>
                                    <div>
                                        <div class="section-subheading exp-title text-muted mt-0">
                                            Software Engineer
                                        </div>
                                        <div class="section-subheading exp-company text-muted">
                                            <a href="https://www.wish.com/companyinfo" target="_blank" rel="noopener">
                                                wish
                                            </a>
                                        </div>
                                        <div class="text-muted exp-meta">
                                            Oct, 2020 - Apr, 2022
                                            <span class="middot-divider"></span>
                                            Shanghai, CN
                                        </div>
                                    </div>
                                </div>
                                <div class="card-text">
                                    Full Stack Enigneer at Wishpost Logistics Product team
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- target -->
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-content-start">
                                    <div class="mr-2 mb-2">
                                        <a href="https://opensource.target.com/security" target="_blank" rel="noopener">
                                            <img src="assets/img/target.jpg" alt="TARGET" width="65px" height="65px">
                                        </a>
                                    </div>
                                    <div>
                                        <div class="section-subheading exp-title text-muted mt-0">
                                            Software Engineer Intern
                                        </div>
                                        <div class="section-subheading exp-company text-muted">
                                            <a href="https://opensource.target.com/security" target="_blank" rel="noopener">
                                                target
                                            </a>
                                        </div>
                                        <div class="text-muted exp-meta">
                                            Sep, 2020 - Dec, 2020
                                            <span class="middot-divider"></span>
                                            (remote) Minneapolis, MN
                                        </div>
                                    </div>
                                </div>
                                <div class="card-text">
                                    Full Stack Enigneer Intern at Information Security team
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- grab -->
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-content-start">
                                    <div class="mr-2 mb-2">
                                        <a href="https://www.grab.com/sg/business/maps/" target="_blank" rel="noopener">
                                            <img src="assets/img/grab.png" alt="GRAB" width="65px" height="65px">
                                        </a>
                                    </div>
                                    <div>
                                        <div class="section-subheading exp-title text-muted mt-0">
                                            Software Engineer Intern
                                        </div>
                                        <div class="section-subheading exp-company text-muted">
                                            <a href="https://www.grab.com/sg/business/maps/" target="_blank" rel="noopener">
                                                grab
                                            </a>
                                        </div>
                                        <div class="text-muted exp-meta">
                                            Jul, 2020 - Sep, 2020
                                            <span class="middot-divider"></span>
                                            Beijing, CN
                                        </div>
                                    </div>
                                </div>
                                <div class="card-text">
                                    Full Stack Enigneer Intern at Geo Tools team
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>